
.wish{
    min-height: 90px;

    box-shadow: 0px 4px 9px 3px rgba(231, 90, 112, 0.2);
    border-radius: 25px;
    padding: 20px 30px;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    transition: all .4s;
    
}

.wish:hover{
    cursor:pointer;
}


.wish__image{
    width: 56px;
    height: 56px;
    background-color: #FDD888;
    border-radius: 50%;
    padding: 10px;

    margin: auto;
}

.wish__name{
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 8px;
}
.wish__category{
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    font-style: italic;
    
    color: #888686;

    margin-bottom: 15px;
}

.wish__desc {
    font-size: 14px;
    /* max-width: 90%; */

    color: #6e6e6e;
}
.wish__inner{
    display: flex;
    gap: 20px;
}

/* .wish__inner >:not(:last-child){
    margin-right: 30px;
} */
.wish__icons {
    display: flex;
    gap: 10px;
}

.wish__icons > button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
}
.wish__icons >* {
    cursor: pointer;
}

/* .wish__icons >:not(:last-child){
    margin-right: 20px;
} */

.completed {
    background: #91CA34;
    color: white;
}

.completed  div {
    color: rgb(225, 225, 225);
}

@media screen and (min-width: 820px){
    .wish{
        margin: 10px 16px;
        /* // min-height: 90px; */
        min-width: 370px;
    }
}

@media screen and (max-width: 820px) {
    .wish{
        padding: 15px 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* .wish__inner > :not(:last-child){
        margin-right: 20px;
    } */
    .wish__name{
        font-size: 18px;
    }
    .wish__category{
        font-size: 14px;
    }
    /* .wish__icons > :not(:last-child){
        margin-right: 10px;
    } */
}

@media screen and (max-width: 768px){
    .wish{
        width: 100%;
        margin: 0 0 16px 0;
    }
}